body {
	height: 100vh;
	width: 100vw;

	position: relative;
}


#level-banner {
	height: 40px;
	width: 200px;

	position: absolute;

	left: calc(100% / 2 - 100px);
	top: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;

	box-shadow: 0 0 30px black;
}
#level-banner > span {
	color: white;
	font-size: 16px;
	font-family: 'Outfit', 'Rubik', sans-serif;
}
.level-banner-corner {
	height: 40px;
	width: 70px;

	position: absolute;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0 0 30px black;
}
.level-banner-corner#left {
	left: calc(100% / 2 - 100px - 70px + 35px);
	transform: skewX(15deg);
}
.level-banner-corner#left > img {
	transform: skewX(-15deg);
}
.level-banner-corner#right {
	left: calc(100% / 2 + 100px - 35px);
	transform: skewX(-15deg);
}
.level-banner-corner#right > img {
	transform: skewX(15deg);
}
.level-banner-corner > img {
	height: 30px;
	width: 30px;

	filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7%) hue-rotate(336deg) brightness(104%) contrast(104%);
}
.lvl1 {
	background: #8ADE2E;
}
.lvl2 {
	background: #3636FF;
}
.lvl3 {
	background: darkred;
}
.lvl4 {
	background: black;
}