.content > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 89vh;
	width: 100%;
}

.content > section#Author {
	flex-direction: row;
	gap: 30px;
	background: url(../resources/profile-page/bg.png);
	background-position: center top;
	background-size: 200% auto;
}
.content > section#Author > .rounded-section {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;

	height: 80%;
	width: 92%;

	font-family: 'Outfit', sans-serif;

	background: #18181b;

	border-radius: 20px;

	box-shadow: 0 0 20px black;
}
span#title {
	font-size: 80px;
	color: #fff;
	text-align: center;
	margin: 10px;
}
.info-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.info-container > .small-info-panel {
	display: flex;
	flex-direction: column;

	border-radius: 10px;

	/*background: url(../resources/profile-page/bg.png);
	background-attachment: fixed;
	background-position: right top;
	background-size: 200% auto;*/

	background: #262931;

	height: 48vh;
	width: 40vw;
}
.info-container > .small-info-panel#left {
	box-shadow: 0 0 4px black;
	justify-content: center;
}
.info-container > .small-info-panel#left > .avatar-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
}
.info-container > .small-info-panel#left > .avatar-wrapper > img#dstu-logo {
	border-radius: 50%;
	height: 170px;

	position: absolute;

/*	box-shadow: 0 0 20px black;*/

	z-index: 1;
}
.info-container > .small-info-panel#left > .avatar-wrapper > img#vkAvatar {
	border-radius: 50%;
	height: 150px;

	box-shadow: 0 0 20px black;

	z-index: 2;
}
.info-container > .small-info-panel#left > .text-wrapper {
	justify-content: center;
	align-items: center;

	padding: 20px;
	
	text-align: center;
	color: #d3d3d3;
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
}
.info-container > .small-info-panel#left > .osu-wrapper {
	justify-content: center;
	align-items: center;

	border-top: 2px solid #868686;

	padding: 20px;
	
	text-align: center;
	color: #d3d3d3;
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
}
.info-container > .small-info-panel#right {
	background: none;

	justify-content: center;

	text-align: center;
	font-family: 'Rubik', sans-serif;
}
.info-container > .small-info-panel#right > span#title {
	font-size: 36px;
	color: #fff;

	margin: 0;
}
.info-container > .small-info-panel#right > p {
	font-size: 24px;
	color: #d3d3d3;
}
.info-container > .small-info-panel#right > p > a {
	color: red;
	text-decoration: none;
	font-family: 'Outfit', sans-serif;

	border-radius: 10px;
	padding: 2px 5px 2px 5px;

	transition: all 0.15s ease;
}
.info-container > .small-info-panel#right > p > a:hover {
	background: red;
	color: #fff;
}
.info-container > .small-info-panel#right > span#subtitle {
	font-size: 28px;
	color: #fff;
}
.info-container > .small-info-panel#right > .row#icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
}
.info-container > .small-info-panel#right > .row#icons > img {
	height: 60px;
}
.more-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	padding: 20px;
}
.more-container > span.tip {
	color: #fff;
	font-size: 22px;
}
.more-container > span > a {
	color: red;
	text-decoration: none;
	font-size: 22px;

	border-radius: 10px;

	transition: all 0.15s ease;

	padding: 2px 5px 2px 5px;
}
.more-container > span > a:hover {
	background: red;
	color: #fff;
}

footer {
	background: #22262a;
	color: #5f6b76;
}