.preheader-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-image: url("../resources/main-page/artwork/preheader-bk.png");
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.preheader-space .mask {
  position: absolute;
  height: 20vh;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
.preheader-space h1 {
  color: #FFF;
  text-align: center;
  font-size: 80;
  font-family: 'Outfit', sans-serif;
  z-index: 10;
}
.header {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
/*  border: 3px solid red;*/
}
.semi-fixed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 50px;
  padding: 0 10px 0 10px;

  height: 40px;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: #FFF;

  transition: all 0.3s ease;

  background: black;

/*  border: 2px solid blue;*/
}
.semi-fixed-header a {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  color: #909090;
  transition: all 0.1s ease;
}
.semi-fixed-header a:hover {
  color: #f3f3f3;
}
.semi-fixed-header a img {
  height: 70%;
  object-fit: scale-down;
}
.semi-fixed-header a img:hover {
  content: url("../resources/main-page/artwork/ico-gray-hov.png");
}

.fixed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 0 15px 0 15px;

  height: 60px;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;

  background: #FFF;
/*  border: 2px solid green;*/
}
.fixed-header span {
  font-size: 32px;
  transition: all 0.3s ease;
  width: 40px;
  text-align: center;
}
.fixed-header span:hover {
  font-size: 40px;
  color: red;
}
.fixed-header .right-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 40px;

  width: 100%;
  height: 100%;
}
.fixed-header .left-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 40px;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.fixed-header a img#header-logotext {
  padding-right: 40px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn {
  text-decoration: none;
  font-family: 'Tektur', sans-serif;
  font-size: 28px;
  color: black;
  cursor: pointer;

  transition: all 0.1s ease;
}
.dropcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 1;
  height: 0px;
/*  margin-top: 10px;*/
  border-radius: 10px;
/*  padding-right: 10px;*/
}
.dropcontent .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
/*  margin: 5px;*/
}
.dropcontent .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
/*  margin: 5px;*/
}
.dropcontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
  margin: 5px;
  white-space: nowrap;

/*  transition: all 0.1s ease;*/
}
.dropcontent a:hover {
  background: red;
  color: white;
}
.dropbtn:hover {
  color: red;
}
.dropdown:hover .dropcontent {
  display: block;
  height: auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.hidden {
  transform: translateY(-40px);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content h1 {
  font-size: 90;
}
.content .namesection {
  display: flex;
  width: 100%;
  height: 52vh;
  background: url("../resources/main-page/artwork/bk.jpg") no-repeat;
  background-size: 100% auto;
  align-items: center;
  justify-content: center;

  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  color: #FFF;

}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-rounded#side-panel {
  cursor: pointer;
}
