.vertical-display {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.header {
	display: flex;
	flex-direction: row;
	height: 6vh;
	background: #262931;
	align-items: center;

}
.header img#header-icon {
	padding: 1px 3px 3px 20px;
}
.header-panels {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin-right: 30px;
	gap: 30px;
	color: #8ab6f0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
.header-panels a {
	text-decoration: none;
	color: #abc7f2;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
}
.header-panels a:hover {
	background: #abc7ff;
	color: black;
}
.header-pane {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: 70%;
	padding: 0px 5px 0px 5px;
	border-radius: 10px;
	background: lightgray;
	color: black;
}
.header-pane a {
	padding: 0px 0px 0px 0px;
	color: black;
}
.header-pane a:hover {
	background: lightgray;
	color: black;
}
.welcome {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 94vh;
	background: url("../resources/welcome-page/artwork/bk.png");
}
.welcome .text-container {
	height: 70%;
	width: 27%;
	left: -12%;
	justify-content: center;
	align-items: center;
	position: relative;
	top: calc(50% - 30%);
	font-family: 'Outfit', sans-serif;
	font-size: 100px;
	color: #FFF;
}
.welcome .buttons-container {
	height: 28%;
	width: 27%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: calc(50% - 14%);
	left: 15%;
}
.welcome .buttons-container button {
	height: 30%;
	width: 80%;
	margin: 5px;
	color: #FFF;
	font-family: 'Outfit', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 32px;
	background: url("../resources/welcome-page/artwork/bb4px.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button:hover {
	background: url("../resources/welcome-page/artwork/bbh4px-not-solid.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button:active {
	background: url("../resources/welcome-page/artwork/bbp4px-not-solid.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button#gotomain {

}
.welcome .buttons-container button#gotocatalog {

}
.separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
	background: #22262a;
	color: #5f6b76;
	font-size: 32px;
	font-family: 'Rubik', sans-serif;
}
.info {
	height: 100vh;
	background: #18181b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info .info-block {
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 70%;
	background: #262931;
	border-radius: 12px;
	color: lightgray;
	box-shadow: 0px 0px 20px black;
	text-align: center;
	align-items: center;
}
.info .info-block h1 {
	font-size: 48px;
	font-family: 'Outfit', sans-serif;
}
.info .info-block h2 {
	font-size: 28;
	width: 70%;
	line-height: 40px;
}
.info .info-block h2 a.inner-link {
	text-decoration: none;
	color: #abc7f2;
}
.info .info-block h2 a.outer-link {
	color: palevioletred;
}
.info .info-block img#dstu {
	margin: 30px 0px 0px 0px;
	height: 100px;
}
.info .row-icons {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin: 20px 0px 0px 0px;
}
.info .row-icons img {
	height: 100px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
	background: #22262a;
	color: #5f6b76;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
footer a {
	text-decoration: none;
	color: #5f6b76;
}