.vertical-display {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	flex-direction: row;
	height: 6vh;
	width: 100vw;
	background: #262931;
	align-items: center;

}
.header img#header-icon {
	padding: 1px 3px 3px 20px;
}
.header-panels {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin-right: 10px;
	gap: 30px;
	color: #8ab6f0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
.header-panels a {
	text-decoration: none;
	color: #abc7f2;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
}
.header-panels a:hover {
	background: #abc7ff;
	color: black;
}
.header-pane {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: 70%;
	padding: 0px 5px 0px 5px;
	border-radius: 10px;
	background: lightgray;
	color: black;
}
.header-pane a {
	padding: 0px 0px 0px 0px;
	color: black;
}
.header-pane a:hover {
	background: lightgray;
	color: black;
}
.welcome {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 94vh;
	widows: 100vw;
	background: url("../resources/welcome-page/artwork/bk.png");
}
.welcome .text-container {
	height: 70%;
	width: 27%;
	left: -12%;
	justify-content: center;
	align-items: center;
	position: relative;
	top: calc(50% - 30%);
	font-family: 'Outfit', sans-serif;
	font-size: 100px;
	color: #FFF;
}
.welcome .buttons-container {
	height: 28%;
	width: 27%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: calc(50% - 14%);
	left: 15%;
}
.welcome .buttons-container button {
	height: 30%;
	width: 80%;
	margin: 5px;
	color: #FFF;
	font-family: 'Outfit', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 32px;
	background: url("../resources/welcome-page/artwork/bb4px.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button:hover {
	background: url("../resources/welcome-page/artwork/bbh4px.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button:active {
	background: url("../resources/welcome-page/artwork/bbp4px.png") no-repeat;
	background-size: contain;
	border-style: solid;
	border: 0px;
}
.welcome .buttons-container button#gotomain {

}
.welcome .buttons-container button#gotocatalog {

}