.content section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 91vh;
	width: 100%;
}

.content section#Profile {
	flex-direction: row;
	gap: 30px;
	background: url(../resources/profile-page/bg.png);
	background-position: center top;
	background-size: 200% auto;
}
.content section#Profile > .profile-rounded-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 70%;
	width: 60%;

	background: #262931;

	border-radius: 20px;

	box-shadow: 0 0 20px black;
}
.content section#Profile > .buttons-rounded-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 30px;

	height: 70%;
	width: 30%;

/*	background: #262931;w*/

	border-radius: 20px;

/*	box-shadow: 0 0 20px black;*/
}
.content section#Profile > .buttons-rounded-section button {
	height: 60px;
	width: 80%;

	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	line-height: 100%;
}

footer {
	background: #22262a;
	color: #5f6b76;
}